.vehicle-info-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
}

.vehicle-info-column {
  flex: 0 0 50%;
  padding: 10px;
}

.vehicle-info h2 {
  text-align: center; 
}

.vehicle-info p {
  margin: 5px 0;
}

.performance-panel {
  width: 50%;
  height: 50%;
  background-color: aqua;
}