.menu-container {
  width: 80%;
  height: 25%;
  margin: 0rem auto;
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 1%;
}

.menu-container-border {
  width: 80%;
  height: 80%;
  margin: 1rem auto;
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid #E5E7E9;
  border-radius: 1%;
}


.item-card {
  height: 18rem;
  width: 16rem;
  margin: 1.5rem 1.5rem 1.0rem;
  /* Otros estilos según sea necesario */
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 2px white solid;
  font-size: 1.5rem;
}

.icon-card {
  font-size: 6rem;
}

.item-body {
  margin: 0px;
  font-size: 1.2rem;
  /*
 border: 2px white solid;
*/
  width: 100%;
}

.titulo {
  width: 100%;
  color: white;
}


.boton-filtro {
  margin: 0 0.25rem;
}

.irregularity-block {
  width: 45%;
  height: 80%;
  border: 2px solid white;
  background-color: #978044;
  margin: 2% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 1.2rem;
  cursor: pointer;
}


.coming-soon-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.coming-soon-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.coming-soon-container p {
  font-size: 1.5rem;
}

.button-back{
  width: 80%;
  margin: 1rem auto 0rem auto;
}