.menu-container {
  width: 80%;
  height: 25%;
  margin: 2% auto;
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid #E5E7E9;
  border-radius: 1%;
}


.item-card {
  height: 20rem;
  width: 18rem;
  margin: 2rem;
  background: blue;
  /* Otros estilos según sea necesario */
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  cursor: pointer;
}

.icon-card{
  font-size: 20rem;
}
