.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* supervisorVinfo.css */

.panel-container {
  width: 45%;
  height: 30rem;
  margin: 2rem auto ;
  font-size: 1em;
  border: white 2px solid;
  border-radius: 1.4rem;
}



/* Estilos responsivos para dispositivos más pequeños */
@media (max-width: 768px) {
  .panel-container {
    width: 90%; /* Ajusta los paneles para que ocupen más espacio en pantallas pequeñas */
    font-size: 0.2em;
  }
}